<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="index.php"><img src="assets/img/kg-logo.png" style="max-height: 50px"
                                                  alt="Photo de Kénolane Granger"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="index.php?access=post!listPost">
                    <p class="text-light">Liste d'articles</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="index.php?access=index!information">
                    <p class="text-light">Curriculum vitæ</p>
                </a>
            </li>
        </ul>

        {% if  session.user.roles is same as (['ROLES_USER']) %}
            <div class="dropdown">
                <button class="btn navbar-dark dropdown-toggle mr-5 rounded" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ session.user.firstName }} {{ session.user.lastName }}
                </button>
                <div class="dropdown-menu">
                    <div class="px-3 py-2">
                        <ul class="list-group list-unstyled">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.php?access=user!read">
                                    Profil
                                </a>
                            </li>
                            {% if session.user.verified is same as (1) %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.php?access=post!create">Créez un article <span
                                                class="sr-only">(current)</span></a>
                                </li>
                                <li>
                                    <a class="nav-link" href="index.php?access=comment!view">
                                        Gestion des commentaires et des Article
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="nav-link" href="index.php?access=security!logout">Déconnexion</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <img src="assets/img/upload/{{ session.user.image }}" class="img-fluid"
                 style="max-width: 75px;max-height: 75px;"
                 alt="logo de {{ session.user.firstName }} {{ session.user.lastName }} ">
        {% else %}
            {{ include('security/login.html.twig') }}
        {% endif %}
    </div>
</nav>
{% if session.user.verified is same as (0) %}
    <div class="bg-dark" id="message">
        <div class="alert-danger text-center">
            <a onclick="$('#message ').remove();"><i class="far fa-times-circle p-2 float-right"></i></a>
            <p class="p-2">Pour accéder à toutes les fonctionnalités du site veuillez confirmer votre compte en cliquant
                sur le bouton ci-dessous pour vous envoyer un mail !</p>
            <a class="btn btn-danger mb-2" href="index.php?access=security!mail"> Valider son compte !</a>
        </div>
    </div>
{% endif %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.8/umd/popper.min.js"
            integrity="sha512-nde8/RV0kQs/AUPF/2gYbOD0ePaDA1dmaxSyLF0Pj6drfKETdIoHIiF/FGX7z9gvqTDLwy/NkAspPJ0h9pF4qw=="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d93e029749.js" crossorigin="anonymous"></script>
    <script>$('.dropdown-toggle').dropdown()
        $("").delay(6000).fadeOut();
    </script>
{% endblock %}

